#baner
{
	background-color:#3a7ad9;
	text-align:center;
	height:50px;
}
#lewy
{
	float:left;
	background-color:#5d93e2;
	height:400px;
	width:30%;
}
#prawy
{
	float:left;
	background-color:#88b0ec;
	height:400px;
	width:70%;
}
#stopka
{
	background-color:#3a7ad9;
	text-align:right;
}